@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,700');
@import url('https://fonts.googleapis.com/css?family=Cormorant:400,500,700');
img {
	vertical-align: middle;	
	max-width: 100%;
}
.header{
    position: absolute;
    left: 0;
    top: 40px;
    width: 100%;
}
.header__item{
    position: relative;
    z-index: 10;
}
.header__logo{
    font-family: 'Montserrat', sans-serif; 
    font-size: 25px;
    font-weight: 700;
    line-height: 34px;
    color: #212121;
    letter-spacing: -1px;
}
.header__nav-menu{
     padding: 7px 0 0 39%;
}
.header__nav-menu a{
    font-family: 'Cormorant',serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    color: #212121;
    margin-left: 31px;
    padding-bottom: 4px;
    text-decoration: none;
}
.header__nav-menu a:hover{
    border-bottom: 2px solid #212121;
}
.mobile-menu {
    display: none;
    position: relative;
    top: 6px;
    float: right;
    width: 35px;
    height: 25px;
}
.mobile-menu .mobile-menu__icon {
    width: 35px;
    height: 23px;
    position: absolute;
    top: auto;
    right: 0;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    cursor: pointer;
    z-index: 1;
}

.mobile-menu .mobile-menu__icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #dc3522;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .35s ease-in-out;
    -o-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
}

.mobile-menu .mobile-menu__icon span:nth-child(1) {
    top: 0;
}

.mobile-menu .mobile-menu__icon span:nth-child(2) {
    top: 9px;
    left: 0;
}

.mobile-menu .mobile-menu__icon span:nth-child(3) {
    top: 19px;
}

.mobile-menu .mobile-menu__icon.open span {
    background: #dc3522;
}

.mobile-menu .mobile-menu__icon.open span:nth-child(1) {
    top: 9px;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
}

.mobile-menu .mobile-menu__icon.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.mobile-menu .mobile-menu__icon.open span:nth-child(3) {
    top: 9px;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
}
.mobile-menu .mobile-menu__icon.open span:nth-child(2) {
    left: 10px;
    cursor: pointer;
}
.mobile-menu .mobile-menu__icon.open:hover {
    opacity: .5;
}
.header__col-left{
    padding-left: 15px;
    width: 30%;
    float: left;
}
.header__col-right{
    padding-right: 15px;
    width: 70%;
    float: left;
}

/* // */

.baner{
    padding-top: 200px;
    z-index: 0;
    position: relative;
    background: url(../img/baner-guy.jpg);
    background-repeat: no-repeat;
    background-position: 700px 0;
    /* background-size: cover; */
}
.baner:before{
    content: '';
    position: absolute;
    top: 201px;
    left: -3px;
    width: 314px;
    height: 493px;
    border-top: 17px solid #e8e8e8;
    border-right: 17px solid #e8e8e8;
    border-bottom: 17px solid #e8e8e8;
} 
.baner__item{
    padding-left: 31px;
    position: relative;
    z-index: 1;
}
.baner__title{
        padding-top: 97px;
        font-family:'Cormorant',serif;
        font-size: 46px;
        font-weight: 700;
        text-transform: uppercase; 
        color:#212121;
}
.baner__subtitle{
    margin-top: -8px;
    font-family:'Cormorant',serif;
    font-size: 22px;
    font-weight: 400;
    opacity: 0.9;   
}
.baner__btn{
    margin-bottom: 357px;
    margin-top: 36px;
}
.baner a{
    font-family: 'Cormorant',serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}
.baner__btn_left:hover{
    color:#ffffff;
}
.baner__btn_right:hover{
    color:#212121;
 }
.baner__btn_left{ 
    color:#ffffff;
    padding: 14px  40px;   
    background: #212121;
}
.baner__btn_right{   
    margin-left: 18px;
    padding: 15px  27px;   
    border: 1px solid #212121;
    color:#212121;
    background: #feffff;
}

.about{
    padding-top: 111px;
    text-align: center;
}
.about__title{
    position: relative;
    font-family: 'Cormorant',serif;
    text-transform: uppercase;
    font-size: 36px;
    color: #000000;
}
.about__title::after{
    content: '';
    position: absolute;
    width: 61px;
    height: 7px;
    top: 53px;
    left: 556px;
    background: url(../img/title-bg.png);
    background-repeat: no-repeat;
    background-position: 0px 0px; 
}
.about__content{
    padding-top: 44px;
    font-family: 'Cormorant',serif;
    font-size: 16px;
    line-height: 17px;
}
.about button{
    margin-top: 17px;
    padding: 14px 30px;
    font-family: 'Cormorant',serif;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: #ffffff;
    background: #212121;
    border: 0;
    outline: none;
}

.skills{
    padding-bottom: 79px;
    padding-top: 107px;
    position: relative;
}
.skills__title{   
    padding-bottom: 42px;
    font-family: 'Cormorant', serif;
    text-transform: uppercase;
    font-size:36px;
    font-weight:400;
    color:#000000;
    text-align: center;
}
.skills__title:after{
    content: '';
    position: absolute;
    width: 61px;
    height: 7px;
    top: 161px;
    left: 646px;
    background: url(../img/title-bg.png);
    background-repeat: no-repeat;
    background-position: 0px 0px; 
}
.skills__item{
    margin-bottom: 40px;
}
.skills__name{
    margin-bottom: 7px;
    position: relative;
    font-family: 'Cormorant', serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
    color:#000000;
    width: 100%;
}
.skills__progress{
    position: relative;
    width: 100%;
    height: 15px;
    background:#dfdfdf;

}
.skills__percent{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background:#212121;
}
.skills__subtitle:before{
    content: '';
    position: absolute;
    top: 41px;
    left: 320px;
    width: 50px;
    height: 15px;
    border-bottom: 15px solid #dfdfdf;
}
.skills__subtitle_top-left:before{
    left:349px;
    width: 22px;
}






.what{
     position: relative;
     padding-top: 218px;
     padding-bottom: 100px;
     background: url(../img/what-heand.png);
     background-repeat: no-repeat;
     background-position: 0 0;
     z-index: 0;
 }
  .what:before{
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: rgba(255, 255,255, 0.5);
     z-index: 1;
 } 
 .what__item{
    position: relative;
    z-index: 2;
}
.what-i-do{
    padding-top: 105px;
    position: relative;
    box-shadow: 0px 0px 40.18px 8.82px rgba(0, 0, 0, 0.15);
    background: white;   
}
.what-i-do__title{
    position: relative;
    padding-bottom: 28px;
    font-family: 'Cormorant',serif;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
}
 .what-i-do__title::after{
    content: '';
    position: absolute;
    width: 61px;
    height: 7px;
    top: 52px;
    left: 556px;
    background: url(../img/title-bg.png);
    background-repeat: no-repeat;
    background-position: 0px 0px; 
}
.what-item__position{
    padding: 0 60px 0 63px;
}
.what-subtitle__item{
    width: 33.33333333%;
    float: left;
}
.what__subtitle{
    padding-top: 77px;
    font-size: 24px;
    font-weight: 700;
    position: relative;
    font-family: 'Cormorant',serif;
    color: #000000;
    text-align: center;
}
  .what__subtitle:before{
    content: '';
    position: absolute;
    width: 52px;
    height: 46px;
    top: 21px;
    left: 147px;
    background: url(../img/what-icon-1.png);
    background-repeat: no-repeat;
    background-position: 0px 0px; 
} 
.what__subtitle_midle:before{
    width: 45px;
    height: 44px;
    background: url(../img/what-icon-2.png); 
}
.what__subtitle_right:before{
    background: url(../img/what-icon-3.png); 
    width: 39px;
    height: 44px;
} 
.what__content{
    padding-bottom: 114px;
    font-family: 'Cormorant',serif;
    line-height: 26px;
    font-size: 16px;
    opacity: 0.9;
    color: #000000;
    text-align: center;
}
.what__content p{
    margin-bottom: 0;
}


.recent-works{
    padding-top: 7px;
    padding-bottom: 98px;
}
.recent-works__title{
    padding-bottom: 47px;
    position: relative;
    font-family: 'Cormorant',serif;
    font-size: 36px;
    font-weight: 400px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
}
.recent-works__title:after{
    content: '';
    position: absolute;
    width: 61px;
    height: 7px;
    top: 53px;
    left: 556px;
    background: url(../img/title-bg.png);
    background-repeat: no-repeat;
    background-position: 0px 0px; 
}
.recent-works__item{
    position: relative;
    z-index: 10;
   
}

/* .recent-works__item_position{
    top: -311px;
    position: relative;
     
    z-index: 3;
}
.recent-works__item:hover{
    z-index: 0; */

}
 /* .recent-works__item_position:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     background:rgba(0, 0, 0, 0.69);
}  */
.recent-works__btn{
    padding-top: 13px;
    text-align: center;
}
.recent-works__btn button{
    padding: 13px 40px;
    font-family: 'Cormorant',serif;
    font-weight: 500px;
    font-size: 16px;
    background: #ffffff;
    color: #212121;
    text-transform: uppercase;
    border: 1px solid #6a6a6a;
    outline: none;
  box-shadow: -1px 10px 24px rgba(0, 0, 0, 0.18);
} 

.recent-works__item-img{
    position: relative;
}

.recent-works__preview{
    padding-top: 140px;
    padding-left: 78px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
    background:rgba(0, 0, 0, 0.69);
} 
.recent-works__preview::after{
    content: '';
    position: absolute;
    top: 44px;
    left: 0px;
    width: 155px;
    height: 194px;
    border-top: 8px solid #808080;
    border-right: 8px solid #808080;
    border-bottom: 8px solid #808080;
    z-index: 1;
}
.recent-preview__imgs{
    padding-top: 8px;
    padding-bottom: 100px;
    position: relative;
    z-index: 2;
}
.recent-works__name{
    margin-bottom: 10px;
    position: relative;
    font-family: 'Cormorant',serif;
    font-size: 30px;
    font-weight: 700;
    color:#ffffff;
    z-index: 2;
}


.projects-delivered{
    position: relative;
    background: url(../img/projects-img.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
     width: 100%;
    height: 100%;
    z-index: 0; 
}
.projects-delivered:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    z-index: 1;
}

.projects-delivered__reklam{
    padding-top: 26px;
    font-family: 'Cormorant',serif;  
    font-weight: 300;
    color: #ffffff;
    text-align: center;
}
.projects-delivered__title{
    font-size: 100px;  
}
 .projects-delivered__subtitle{
    margin-top: -24px;
    font-size: 30px;
}

.contact{
    padding-top: 19px;
    padding-bottom: 90px;
    text-align: center;
}  
.contact__title{
    padding-bottom: 66px;
    position: relative;
    font-family: 'Cormorant',serif;
    font-size: 36px;
    font-weight: 400px;
    text-transform: uppercase;
    
    color: #000000;
}  
.contact__title:after{
    content: '';
    position: absolute;
    width: 61px;
    height: 7px;
    top: 52px;
    left: 556px;
    background: url(../img/title-bg.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
.contact__input{
   height: 27px;
	width: 100%;
   border: none;
   border-bottom: 1px solid #000000;
}
input::-webkit-input-placeholder {
    padding-left: 12px;
   font-family: 'Cormorant',serif;
   font-size: 16px;
   font-weight: 400px;
   color:#000000;       
}
.contact__message{
    margin-bottom: 40px;
   padding-left: 12px;
   padding-top: 49px;
   height: 235px;
   width: 100%;
   resize: none;
   border: none;
   outline: none;
   border-bottom: 1px solid #000000;
 }               
textarea::-webkit-input-placeholder{
    font-family: 'Cormorant',serif;
    font-size: 16px;
    font-weight: 400px;
    color:#000000;
} 
      
.contact__btn{
    padding: 14px 44px;
    font-family: 'Cormorant',serif;
    font-size: 16px;
    font-weight: 500;
    color: #212121;
    text-transform: uppercase;
    border: 1px solid #6a6a6a;
     box-shadow: -1px 14px 24px rgba(0,0,0,0.18)
     }   
.contact__btn:hover{
    text-decoration: none;
     color: #212121;
     }
.contact__icon{
     font-size: 15px;
     }

.footer{
     padding-left: 3px;
     padding-top:34px;
     padding-bottom: 14px;
     position: relative;
     background: #212121;       
     }
.footer__description{
    padding-left: 310px;
    font-family: 'Cormorant',serif;
    font-size: 16px;
    font-weight: 400;
     color: #ffffff;     
     }
.footer__icon{
     margin-right: 10px;
     display:inline-block;
     width: 35px;
     height: 35px;
     text-align: center;
     border-radius: 50%;
     border:1px solid #fbfbfb;
     }
.footer__icon-facebook{
    padding: 10px;
    color: red;
    }
.footer__icon-facebook-bg{
    padding: 10px;
    color: red;
    position: absolute;
    top: 35px;
    left: 1306px;
    }
    



@media screen and (max-width:1200px){
     .header__nav-menu{
        display: none;
    }
     .header__nav-menu.opened{
        display: block;
        position: static;
        background: #ffffff;
        padding-left: 20%;
    } 
    .mobile-menu{
        display: block;
    }

}         
@media screen and (max-width:992px){

}      

